
<!DOCTYPE html>
<html>
<head>
<title>QuantumAI | DILIP DC</title>
<script src="https://cdn.tailwindcss.com"></script>

<style>
body{
background:#0f172a;
color:white;
font-family:monospace;
}
</style>

</head>

<body>

<div id="welcome" style="position:fixed;inset:0;background:black;display:flex;align-items:center;justify-content:center;">
<div style="text-align:center">
<h1 style="font-size:50px;color:cyan">QUANTUM AI</h1>
<p style="color:#a855f7">Creator: DILIP DC</p>
<button onclick="document.getElementById('welcome').style.display='none'"
style="padding:10px 20px;background:cyan;color:black;border:none;">
ENTER SYSTEM
</button>
</div>
</div>

{% block content %}{% endblock %}

</body>
</html>
